<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.db.mysql.mapper.DepartmentMapper">

    <resultMap id="departmentResultMap" type="com.solvd.db.mysql.model.Department" autoMapping="false">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
    </resultMap>

    <select id="getDepartmentById" resultMap="departmentResultMap">
        select * from departments where id = #{id}
    </select>

    <select id="getAllDepartments" resultMap="departmentResultMap">
        select * from departments
    </select>

    <insert id="createDepartment" parameterType="com.solvd.db.mysql.model.Department">
        <selectKey keyProperty="id" resultType="long" order="AFTER">
            select last_insert_id()
        </selectKey>
        insert into departments (name)
        values (#{name})
    </insert>

    <update id="updateDepartment" parameterType="com.solvd.db.mysql.model.Department">
        update departments set
        name = #{name},
        where id = #{id}
    </update>

    <delete id="deleteDepartment" parameterType="long">
        delete from departments where id = #{id}
    </delete>

</mapper>